* {
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    font-size: 1rem;
    text-align: center;
    position: absolute;
    width: 99%;
}

input {
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
}

button {
    border-style: none;
    border-radius: 0.5rem;
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.title {
    margin: 0;
    font-size: 2.5rem;
}

.container {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.action-button {
    padding: 8px;
}

#github-button,
#theme-button {
    padding: 5px;
    width: 3.2rem;
    height: 3.2rem;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center center;
}

.theme-container {
    position: relative;
}

.dropdown-menu {
    display: block;
    position: absolute;
    font-size: 1.1rem;
    top: 40px;
    z-index: -1;
    padding: 12px 32px 12px 12px;
    width: 148px;
    border-radius: 0.5rem;
    right: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 0 27px 13px rgba(73, 73, 73, 0.2);
    -moz-box-shadow: 0 0 27px 13px rgba(73, 73, 73, 0.2);
    box-shadow: 0 0 27px 13px rgba(73, 73, 73, 0.2);
    transition: all 0.09s ease-out;
}

.dropdown-menu.show {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    top: calc(100% + 8px);
}

.dropdown-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    opacity: 0.7;
}

.dropdown-menu a:hover {
    opacity: 1;
}

.dropdown-menu a.selected {
    font-weight: bold;
}

@media (min-height: 386px) {
    footer {
        bottom: 5vh;
    }
}

@media only screen and (orientation: portrait) {
    html,
    body,
    .container {
        height: 94%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
